/* import all styles from device */

@import './devices/workstations';
@import './devices/lg-desktops';
@import './devices/sm-desktops';
@import './devices/mobile';
@import './devices/tablets';

body {
    font-family: 'Open-sans', sans-serif;
    /* margin: 4px; */
    border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 100%;

    .root {
    flex: 0 0 80%;
    max-width: 80%;
    border: 1px solid blue;
}
}