/*** media queries for mobile devices ***/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    .body-container-div {

        .dialog-cover-div {

            .dialog-cover {
                border: 3px solid red;

                .dialog-form-cover {

                    .story-form-cover-div {

                        .inputs-cover-div {

                            .story-form-inputs-flex {

                                .story-inputs-form-item {

                                    .story-form-inputs {

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-div {

        }
        .body-content-div {

            .home-container-div {
                // border: 2px solid green;
                padding-top: 50px;
                //height: 85vh;

                .carousel-cover-div {
                    //height: 85vh;
                    //border: 3px solid pink;
                    display: flex;
                    justify-content: center;

                    .carousel-main-cover {
                        width: 100%;
                        //height: 85vh;
                        //border: 3px solid yellow;

                        .carousel-img-cover {
                            width: 100%;
                            height: 590px;
                            //border: 1px solid red;

                            .carousel-image {
                                // width: 100% !important;
                                height: 100%;
                            }
                        }
                    }
                }
            }

            .feeds-container-div {
                display: flex;
                justify-content: center;
                padding-top: 30px;

                .feed-card-container-div {
                    flex: 0 0 100%;
                    max-width: 100%;
                    //border: 1px solid red;
                    display: flex;
                    justify-content: center;

                    .feed-card-inner-container-div {
                        flex: 0 0 90%;
                        max-width: 90%;
                        display: flex;
                        justify-content: center;
                        //flex-direction: column;
                        flex-flow: row wrap;
                        //border: 4px solid green;

                        .feed-card-cover-div {
                            flex: 0 0 100%;
                            max-width: 100%;
                            //max-height: 47%;
                            padding-bottom: 15px;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            //border: 1px solid blue;
    
                            .feed-card-component {
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                            
                            .no-story-res-p {
                                //text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .bottom-nav-div {

            .bottom-fab-btn {
                //background-color: white;
                height: 50px;
                width: 50px;
            }
        }
    }
}

/* Smartphones (landscape) ----------- 
@media only screen 
and (min-width : 321px) {
  
}
*/